<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
 
<body>
    <nav th:replace="~{fragments/navbar :: navbar('Ingredienti')}"></nav>
    <div class="container">
        <h1>Ingredienti</h1>
        <hr/>
        <div class="row">
            <div class="col-4">
                <form id="ingredienti-form" th:action="@{/ingredienti/create}" method="post" th:object="${ingredientiObj}">
                    <div class="input-group mb-3">
                        <input type="text" id="ingredienti" th:field="*{ingrediente}" class="form-controll">
                        <button type="submit" class="btn btn-primary"> aggiungi ingredienti</button>
                        <ul th:if="${#fields.hasErrors('ingrediente')}">
                            <li th:each="err : ${#fields.hasErrors('ingrediente')}" th:text="${err}"></li>

                        </ul>
                    </div>
                </form>
                <ul class="list-group" th:if="${list.size() >0}">
                    <li class="list-group-item d-flex justify-content-between " th:each="item : ${list}">
                        <span th:text="${item.ingrediente}"></span>
                        <form th:action="@{|/ingredienti/delete/${item.id}|}" method="post">
                            <button class="btn btn-danger" type="submit" id="deleteButton"
                                    onclick="return confirm('sei sicuro?')" > elimina</button>
                        </form>
                    </li>
                </ul>
                <div class="alert alert-primary" role="alert" th:unless="${list.size()>0}">Nessun ingrediente</div>
            </div>
        </div>
    </div>
    
    
    

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>