<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
 
<body>
    <nav th:replace="~{fragments/navbar :: navbar ('Pizza')}"></nav>
    <div class="container mt-5">
        <th:block th:if="${successMessage != null}">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${successMessage}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </th:block>
        <!-- lista pizze vuota -->
        <div th:if="${pizze.isEmpty()}">
            <div class="alert alert-warning text-center">
                <p>Attualmente non ci sono pizze disponibili</p>
            </div>
        </div>
        <!-- lista pizze non vuota -->
         <div class="row" th:unless="${pizze.isEmpty()}">
            <div class="col px-0">
                <div class="d-flex justify-content-between mb-4">
                    <div>
                        <form  method="get" th:action="@{/pizza}">
                            <div class="input-group">
                                <input name="keyword" type="search" class="form-control" placeholder="search"  aria-label="Recipient’s username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                                    <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
                                    </svg>
                                </button>
                        
                            </div>
                        </form>    
                    </div>        
                    <div>
                        <a th:href="@{pizza/create}" class="btn btn-primary">crea pizza</a>
                    </div>
                </div>
                </div>
                
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                            <th scope="col">Pizze</th>
                            <!-- per la modifica -->
                            <th></th>  
                            <!-- per cancellare -->
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pizza : ${pizze}">
                                <!-- colonna pizza -->
                            <td>
                                <a th:href="@{|pizza/show/${pizza.id}|}" class="list-group-item list-group-item-action " th:text="${pizza.nome}"></a>
                            </td>
                            <!-- colonna per modificare -->
                            <td>
                               <a th:href="@{|pizza/edit/${pizza.id}|}" class="btn btn-dark">modifica pizza</a>
                            </td>
                            <!-- colonna per cancellare -->
                            <td>
                               <form th:action="@{/pizza/delete/{id}(id=${pizza.id})}" method="post">
                                    <button class="btn btn-danger" type="submit" id="submitButton">
                                        <i class="fas fa-trash-alt">elimina pizza</i>
                                    </button>
                               </form>
                            </td>
                            </tr>
                        </tbody>
                    </table>
         </div>
    </div>
         

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>